:root {
    /* CSS HEX */
    --outside-white: #e3eafd;
    --lighter-blue: #e1e9fe;
    --little-darker-blue: #bdd0fb;
    --medium-blue: #91b3fa;
    --orange-clothes: #fe7b71;
    --lighter-skin:#fdb2b0;
    --darker-skin:#ff928f;
    --blue: #4446e9;
    --dark-blue:#170d8a;
    --darkest-blue:#0b0162;
    --popping: #eaff00;
    --login-background: #823af6;
}